@charset "utf-8";
/* CSS Document */

h1{
	text-transform:uppercase;
	font-size:48px;	
}

#main{
	padding:20px 0;	
}

header{
	background:#e1e1e1;
	padding:25px;
}

#slider{
	background:#cfcfcf;
	padding:120px 0;
	text-align:center;
}

.f-left{
	float:left;	
}

.align-left{
	text-align:left;
}

.f-right{
	float:right;	
}

.align-right{
	text-align:right;
}

.cnt{
	text-align:center;	
}

.btn-color-black{
	background:#000000;
	color:#ffffff;
	padding:15px 50px;
	transition-duration:0.7s;
}

.btn-color-black:hover{
	background:#0586ff;
	color:#ffffff;
}

footer{
	background:#e1e1e1;
	padding:25px;
}